/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// Layer definitions

#define COLMAK 0
#define QWERTY 1
#define GAME 2
#define GAME_ALT 3
#define ARROWS 4
#define SYMBOL 5
#define NUMBER 6
#define ARROWS_MIRROR 7
#define SYSTEM 8
#define FMWARE 9

// -----------------

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_caps {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&caps_word>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <26 27 28>;
            bindings = <&kp ENTER>;
        };

        colemak {
            bindings = <&to 0>;
            key-positions = <20 21 22 23>;
        };
    };

    macros {
        left_5: left_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "LEFT_5";
            wait-ms = <5>;
            tap-ms = <5>;
        };

        right_5: right_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>;
            label = "RIGHT_5";
            wait-ms = <5>;
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------------------------------------
            // |    Q    |    W    |    F    |    P    |    B    |            |    J    |    L    |    U    |    Y    |   BSP   |
            // |    A    |    R    |    S    |    T    |    G    |            |    M    |    N    |    E    |    I    |    O    |
            // |    Z    |    X    |    C    |    D    |    V    |            |    K    |    H    |    ,    |    .    |    /    |
            //                               | NUM/ENT | ARR/SPC |            | ARR/TAB | SYM/ESC |

            bindings = <
&kp Q        &kp W       &kp F        &kp P        &kp B          &kp J       &kp L        &kp U        &kp Y       &kp BSPC
&mt LALT A   &mt RALT R  &mt LSHFT S  &mt LCTRL T  &mt LGUI G     &mt LGUI M  &mt RCTRL N  &mt LSHFT E  &mt RALT I  &mt LALT O
&mt LSHFT Z  &kp X       &kp C        &kp D        &kp V          &kp K       &kp H        &kp COMMA    &kp DOT     &kp SLASH
                                      &lt 6 ENTER  &lt 4 SPACE    &lt 4 TAB   &lt 5 ESC
            >;
        };

        qwerty_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |    Q    |    W    |    E    |    R    |    T    |            |    Y    |    U    |    I    |    O    |    P    |
            // |    A    |    S    |    D    |    F    |    G    |            |    H    |    J    |    K    |    L    |    ;    |
            // |    Z    |    X    |    C    |    V    |    B    |            |    N    |    M    |    ,    |    .    |    /    |
            //                               | NUM/ENT | ARR/SPC |            | ARR/TAB | SYM/ESC |

            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T          &kp Y       &kp U        &kp I        &kp O       &kp P
&mt LALT A  &mt RALT S  &mt LSHFT D  &mt LCTRL F  &mt LGUI G     &mt LGUI H  &mt RCTRL J  &mt LSHFT K  &mt RALT L  &mt LALT SEMI
&kp Z       &kp X       &kp C        &kp V        &kp B          &kp N       &kp M        &kp COMMA    &kp DOT     &kp SLASH
                                     &lt 6 ENTER  &lt 4 SPACE    &lt 4 TAB   &lt 5 ESC
            >;
        };

        game_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   TAB   |    1    |    2    |    3    |    4    |            |    B    |    P    |    M    |    I    |   ESC   |
            // |  LSHFT  |    Q    |    W    |    E    |    R    |            |    G    |    T    |    S 	|    J    |    A    |
            // |  LCTRL  |    5    |    6    |    D    |    F    |            |    V    |    H    |    C    |    X    |    Z    |
            //                               |  L_ALT  |  SPACE  |            | COLEMAK | GAME_ALT |

            bindings = <
&kp TAB    &kp N1  &kp N2        &kp N3    &kp NUMBER_4    &kp B  &kp P  &kp M  &kp I  &kp ESC
&kp LSHFT  &kp Q   &kp W         &kp E     &kp R           &kp G  &kp T  &kp S  &kp J  &kp A
&kp LCTRL  &kp N5  &kp NUMBER_6  &kp D     &kp F           &kp V  &kp H  &kp C  &kp X  &kp Z
                                 &kp LALT  &kp SPACE       &to 0  &to 3
            >;
        };

        game_alt_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   ESC   |   HOME  |   ⬆   |  PG_UP  |   F13   |            |   F16   |   F7    |   F8    |   F9    |   F10   |
            // |   TAB   |    ←    |    ↓   |    →    |   F14   |            |   F17   |   F4    |   F5    |   F6    |   F11   |
            // |  ENTER  |   END   |    ↓   |  PG_DN  |   F15   |            |   F18   |   F1    |   F2    |   F3    |   F12   |
            //                              |  SHIFT  |   CTRL  |            |   F19   |  GAME   |

            bindings = <
&kp ESC    &kp HOME  &kp UP    &kp PG_UP  &kp F13      &kp F16  &kp F7   &kp F8  &kp F9  &kp F10
&kp TAB    &kp LEFT  &kp DOWN  &kp RIGHT  &kp F14      &kp F17  &kp F4   &kp F5  &kp F6  &kp F11
&kp ENTER  &kp END   &kp DOWN  &kp PG_DN  &kp F15      &kp F18  &kp F1   &kp F2  &kp F3  &kp F12
                               &kp LSHFT  &kp LCTRL    &kp F19  &kp F20
            >;
        };

        arrows_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   ESC   |   BSPC  |   DEL   |  ENTER  | CTRL Y  |            | PG UP   |   HOME  |    ⬆    |   END   |   BSPC  |
            // |   TAB   |  LALT   |  LSHFT  |  LCTRL  |  LGUI   |            | PG DN   |    ⬅    |    ⬇    |    →    |   CAPS  |
            // | CTRL Z  | CTRL X  | CTRL C  | CTRL D  | CTRL V  |            |    [    |   5  ←  |    ⬇    |   5  →  |    ]    |
            //                               |ARRM/ENTE|  SPACE  |            |   TAB   | NUM/ESC |

            bindings = <
&kp ESC    &kp BSPC   &kp DEL    &kp ENTER    &kp LC(Y)    &kp PG_UP  &kp HOME   &kp UP    &kp END    &kp BSPC
&kp TAB    &kp LALT   &kp LSHFT  &kp LCTRL    &kp LGUI     &kp PG_DN  &kp LEFT   &kp DOWN  &kp RIGHT  &kp CAPS
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(D)    &kp LC(V)    &kp LBKT   &left_5    &kp DOWN  &right_5   &kp RBKT
                                 &lt 7 ENTER  &kp SPACE    &kp TAB    &lt 6 ESC
            >;
        };

        symbol_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |    `    |    '    |    "    |    #    |    $    |            |    &    |    @    |    (    |    )    |   BSPC  |
            // |    _    |    -    |    +    |    =    |    \    |            |    |    |    :    |    {    |    }    |    ?    |
            // |    [    |    /    |    *    |    %    |    ]    |            |    ~    |    ;    |    <    |    >    |    !    |
            //                               | SYS/ENT |  SPACE  |            | NUM/TAB |         | 

            bindings = <
&kp GRAVE       &kp SQT    &kp DQT       &kp HASH     &kp DOLLAR       &kp AMPS   &kp AT_SIGN    &kp LPAR  &kp RPAR  &kp BSPC
&kp UNDERSCORE  &kp MINUS  &kp PLUS      &kp EQUAL    &kp BACKSLASH    &kp PIPE   &kp COLON      &kp LBRC  &kp RBRC  &kp QMARK
&kp LBKT        &kp SLASH  &kp ASTERISK  &kp PERCENT  &kp RBKT         &kp TILDE  &kp SEMICOLON  &kp LT    &kp GT    &kp EXCL
                                         &lt 8 ENTER  &kp SPACE        &lt 6 TAB  &none
            >;
        };

        number_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    .    |    ,    |   ENT   |    $    |            |    0    |    7    |    8    |    9    |   BSPC  |
            // |    _    |    -    |    +    |    =    |    ^    |            |    -    |    4    |    5    |    6    |    +    |
            // |    [    |    /    |    *    |    %    |    ]    |            |    /    |    1    |    2    |    3    |    *    |
            //                               | FMW/ENT |ARRM/SPAC|            |  SPACE  |  SYS/0  |

            bindings = <
&kp ESC         &kp DOT    &kp COMMA     &kp ENTER    &kp DOLLAR     &kp N0     &kp N7    &kp N8  &kp N9  &kp BSPC
&kp UNDERSCORE  &kp MINUS  &kp PLUS      &kp EQUAL    &kp CARET      &kp MINUS  &kp N4    &kp N5  &kp N6  &kp PLUS
&kp LBKT        &kp SLASH  &kp ASTERISK  &kp PERCENT  &kp RBKT       &kp SLASH  &kp N1    &kp N2  &kp N3  &kp ASTERISK
                                         &lt 9 ENTER  &lt 7 SPACE    &kp SPACE  &lt 8 N0
            >;
        };

        arrows_mirror_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |  BSPC   |   HOME  |    ⬆    |   END   |  PG UP  |				| CTRL Y  |  ENTER  |   BSPC  |   DEL   |   ESC   |
            // |  CAPS   |    ⬅    |    ⬇    |    →    |  PG DN  |				|  LGUI   |  LCTRL  |  LSHFT  |  LALT   |   TAB   |
            // |    [    |  CTL ←  |    ⬇    |  CTL →  |    ]    |				| CTRL V  | CTRL D  | CTRL C  | CTRL X  | CTRL Z  |
            // 				                 |         |         |				|   TAB   |   ESC   |

            bindings = <
&kp BSPC  &kp HOME      &kp UP    &kp END        &kp PG_UP    &kp LC(Y)  &kp ENTER  &kp BSPC   &kp DEL    &kp ESC
&kp CAPS  &kp LEFT      &kp DOWN  &kp RIGHT      &kp PG_DN    &kp LGUI   &kp LCTRL  &kp LSHFT  &kp LALT   &kp TAB
&kp LBKT  &kp LC(LEFT)  &kp DOWN  &kp LC(RIGHT)  &kp RBKT     &kp LC(V)  &kp LC(D)  &kp LC(C)  &kp LC(X)  &kp LC(Z)
                                  &none          &none        &kp TAB    &kp ESC
            >;
        };

        system_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   INS   |   PREV  |  PAUSE  |   NEXT  |  POWER  |            |   WWW   |   F7    |   F8    |   F9    |   F10   |
            // |  PSCRN  |  LALT   |  LSHFT  |  LCTRL  |  LGUI   |            |  CALC   |   F4    |   F5    |   F6    |   F11   |
            // |   MUTE  | VOL DN  |  VOL UP |  BRI UP | BRI DN  |            |  FILES  |   F1    |   F2    |   F3    |   F12   |
            //                               |         | FMWARE  |            | FMWARE  |         |

            bindings = <
&kp INS     &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &kp C_PWR       &kp C_AL_WWW    &kp F7  &kp F8  &kp F9  &kp F10
&kp PSCRN   &kp LALT      &kp LSHFT         &kp LCTRL     &kp LGUI        &kp C_AL_CALC   &kp F4  &kp F5  &kp F6  &kp F11
&kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP      &kp C_BRI_DN  &kp C_BRI_UP    &kp C_AL_FILES  &kp F1  &kp F2  &kp F3  &kp F12
                                            &none         &mo 9           &mo 9           &none
            >;
        };

        fmware_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |  RESET  |GAME_ALT |         |         |         |            | OUT USB | OUT BT  |BT CLEAR |         |  RESET  |
            // |  RESET  |  GAME   |  QWERTY |  COLMAK |         |            |         |  BT 3   |   BT 4  |         |  RESET  |
            // |  BOOT   |         |         |         |         |            |         |  BT 0   |   BT 1  |   BT 2  |  BOOT   |
            //                               |         |         |            |         |         |

            bindings = <
&sys_reset   &to 3  &none  &none  &none    &out OUT_USB  &out OUT_BLE  &bt BT_CLR    &none         &sys_reset
&sys_reset   &to 2  &to 1  &to 0  &none    &none         &bt BT_SEL 3  &bt BT_SEL 4  &none         &sys_reset
&bootloader  &none  &none  &none  &none    &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bootloader
                           &none  &none    &none         &none
            >;
        };
    };
};
